<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">
    <Script file="Config.lua"/>

    <CheckButton name="ExtVendor_CheckBoxTemplate" inherits="UICheckButtonTemplate" virtual="true">
        <HitRectInsets>
            <AbsInset bottom="0" left="0" right="-100" top="0"/>
        </HitRectInsets>
        <Scripts>
            <OnClick>
                ExtVendorConfig_CheckBox_OnClick(self, self:GetID());
                if (self:GetChecked()) then
                    PlaySound("igMainMenuOptionCheckBoxOff");
                else
                    PlaySound("igMainMenuOptionCheckBoxOn");
                end
            </OnClick>
            <OnEnter>
                ExtVendorConfig_Option_OnEnter(self);
            </OnEnter>
            <OnLeave>
                ExtVendorConfig_Option_OnLeave(self);
            </OnLeave>
        </Scripts>
    </CheckButton>

    <Slider name="ExtVendor_SliderTemplate" inherits="OptionsSliderTemplate" virtual="true">
        <Size>
            <AbsDimension x="340" y="20"/>
        </Size>
        <Layers>
            <Layer level="BACKGROUND">
                <FontString name="$parentText1" inherits="GameFontNormalSmall">
                    <Color r="1.0" g="1.0" b="1.0"/>
                    <Anchors>
                        <Anchor point="BOTTOM" relativePoint="TOP">
                            <Offset>
                                <AbsDimension x="0" y="2"/>
                            </Offset>
                        </Anchor>
                    </Anchors>
                </FontString>
                <FontString name="$parentText2" inherits="GameFontNormalSmall">
                    <Anchors>
                        <Anchor point="CENTER">
                            <Offset>
                                <AbsDimension x="0" y="-15"/>
                            </Offset>
                        </Anchor>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Scripts>
            <OnEnter>
                ExtVendorConfig_Option_OnEnter(self);
            </OnEnter>
            <OnLeave>
                ExtVendorConfig_Option_OnLeave(self);
            </OnLeave>
        </Scripts>
    </Slider>

    <Frame name="ExtVendor_ContainerTemplate" virtual="true">
        <Size>
            <AbsDimension x="100" y="20"/>
        </Size>
        <Layers>
            <Layer level="ARTWORK">
                <FontString name="$parentTitle" inherits="GameFontNormal">
                    <Anchors>
                        <Anchor point="BOTTOMLEFT" relativePoint="TOPLEFT">
                            <Offset x="10" y="0"/>
                        </Anchor>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Backdrop bgFile="Interface\Tooltips\UI-Tooltip-Background" edgeFile="Interface\Tooltips\UI-Tooltip-Border" tile="true">
            <BorderColor r="0.5" g="0.5" b="0.5"/>
            <Color r="0.25" g="0.25" b="0.25" a="0.5"/>
            <BackgroundInsets>
                <AbsInset left="3" right="3" top="3" bottom="3"/>
            </BackgroundInsets>
            <TileSize>
                <AbsValue val="16"/>
            </TileSize>
            <EdgeSize>
                <AbsValue val="16"/>
            </EdgeSize>
        </Backdrop>
    </Frame>

    <Frame name="ExtVendorConfigContainer">
        <Layers>
            <Layer level="BACKGROUND">
                <Texture name="$parentBackground">
                    <Size>
                        <AbsDimension x="1" y="1"/>
                    </Size>
                    <Anchors>
                        <Anchor point="TOPLEFT">
                            <Offset>
                                <AbsDimension x="5" y="-5"/>
                            </Offset>
                        </Anchor>
                        <Anchor point="BOTTOMRIGHT">
                            <Offset>
                                <AbsDimension x="-5" y="5"/>
                            </Offset>
                        </Anchor>
                    </Anchors>
                    <Color r="0" g="0" b="0" a="0.75"/>
                </Texture>
            </Layer>
        </Layers>
        <Frames>
            <ScrollFrame name="$parentScroll" inherits="UIPanelScrollFrameTemplate">
                <Anchors>
                    <Anchor point="TOPLEFT">
                        <Offset>
                            <AbsDimension x="5" y="-5"/>
                        </Offset>
                    </Anchor>
                    <Anchor point="BOTTOMRIGHT">
                        <Offset>
                            <AbsDimension x="-28" y="5"/>
                        </Offset>
                    </Anchor>
                </Anchors>
                <ScrollChild>
                    <Frame name="ExtVendorConfig">
                        <Size>
                            <AbsDimension x="600" y="300"/>
                        </Size>
                        <Layers>
                            <Layer level="ARTWORK">
                                <FontString name="$parentTitle" inherits="GameFontNormalLarge">
                                    <Anchors>
                                        <Anchor point="TOPLEFT">
                                            <Offset>
                                                <AbsDimension x="20" y="-20"/>
                                            </Offset>
                                        </Anchor>
                                    </Anchors>
                                </FontString>
                            </Layer>
                        </Layers>
                        <Frames>
                            <Frame name="$parent_GeneralContainer" inherits="ExtVendor_ContainerTemplate">
                                <Anchors>
                                    <Anchor point="TOPLEFT">
                                        <Offset x="20" y="-70"/>
                                    </Anchor>
                                    <Anchor point="BOTTOMRIGHT" relativePoint="TOPRIGHT">
                                        <Offset x="-20" y="-180"/>
                                    </Anchor>
                                </Anchors>
                                <Frames>
                                    <CheckButton id="1" name="$parent_ShowLoadMsg" inherits="ExtVendor_CheckBoxTemplate">
                                        <Anchors>
                                            <Anchor point="TOPLEFT">
                                                <Offset>
                                                    <AbsDimension x="10" y="-10"/>
                                                </Offset>
                                            </Anchor>
                                        </Anchors>
                                    </CheckButton>
                                    <CheckButton id="2" name="$parent_MouseWheel" inherits="ExtVendor_CheckBoxTemplate">
                                        <Anchors>
                                            <Anchor point="TOPLEFT" relativePoint="TOP">
                                                <Offset>
                                                    <AbsDimension x="0" y="-10"/>
                                                </Offset>
                                            </Anchor>
                                        </Anchors>
                                    </CheckButton>
                                    <Slider id="1" name="$parent_Scale" minValue="0" maxValue="10" valueStep="1" inherits="ExtVendor_SliderTemplate">
                                        <Anchors>
                                            <Anchor point="TOP" x="0" y="-65"/>
                                        </Anchors>
                                        <Scripts>
                                            <OnLoad>
                                                _G[self:GetName().."Low"]:SetText("50%");
                                                _G[self:GetName().."High"]:SetText("150%");
                                            </OnLoad>
                                            <OnValueChanged>
                                                ExtVendorConfig_Slider_OnValueChanged(self, self:GetID());
                                            </OnValueChanged>
                                        </Scripts>
                                    </Slider>
                                </Frames>
                            </Frame>
                            <Frame name="$parent_QuickVendorContainer" inherits="ExtVendor_ContainerTemplate">
                                <Anchors>
                                    <Anchor point="TOPLEFT" relativeTo="$parent_GeneralContainer" relativePoint="BOTTOMLEFT">
                                        <Offset x="0" y="-20"/>
                                    </Anchor>
                                    <Anchor point="BOTTOMRIGHT" relativeTo="$parent_GeneralContainer" relativePoint="BOTTOMRIGHT">
                                        <Offset x="0" y="-190"/>
                                    </Anchor>
                                </Anchors>
                                <Frames>
                                    <CheckButton id="20" name="$parent_EnableButton" inherits="ExtVendor_CheckBoxTemplate">
                                        <Anchors>
                                            <Anchor point="TOPLEFT">
                                                <Offset>
                                                    <AbsDimension x="10" y="-10"/>
                                                </Offset>
                                            </Anchor>
                                        </Anchors>
                                    </CheckButton>
                                    <CheckButton id="21" name="$parent_AutoQuickVendor" inherits="ExtVendor_CheckBoxTemplate">
                                        <Anchors>
                                            <Anchor point="TOPLEFT">
                                                <Offset>
                                                    <AbsDimension x="10" y="-40"/>
                                                </Offset>
                                            </Anchor>
                                        </Anchors>
                                    </CheckButton>
                                    <CheckButton id="22" name="$parent_AlreadyKnown" inherits="ExtVendor_CheckBoxTemplate">
                                        <Anchors>
                                            <Anchor point="TOPLEFT">
                                                <Offset>
                                                    <AbsDimension x="10" y="-70"/>
                                                </Offset>
                                            </Anchor>
                                        </Anchors>
                                    </CheckButton>
                                    <CheckButton id="23" name="$parent_WhiteGear" inherits="ExtVendor_CheckBoxTemplate">
                                        <Anchors>
                                            <Anchor point="TOPLEFT">
                                                <Offset>
                                                    <AbsDimension x="10" y="-100"/>
                                                </Offset>
                                            </Anchor>
                                        </Anchors>
                                    </CheckButton>
                                    <CheckButton id="24" name="$parent_AutoVendorCheck" inherits="ExtVendor_CheckBoxTemplate">
                                        <Anchors>
                                            <Anchor point="TOPLEFT">
                                                <Offset>
                                                    <AbsDimension x="10" y="-130"/>
                                                </Offset>
                                            </Anchor>
                                        </Anchors>
                                    </CheckButton>
                                </Frames>
                            </Frame>
                        </Frames>
                    </Frame>
                </ScrollChild>
            </ScrollFrame>
        </Frames>
        <Scripts>
            <OnLoad>
                ExtVendorConfig_OnLoad(self);
            </OnLoad>
        </Scripts>
    </Frame>

</Ui>
